@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.slide {
  opacity: 0;
  height: 110vh;
  width: 1050vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -25vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 7;
}  

.slide.active {
  opacity: 5;
}

.arrow {
  position: fixed;
  background-color: transparent;
  color: #fff;
  padding: 15px;  
  font-size: 30px;
  border: 3px solid orange;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow:focus {
    outline: 0;
  }
  
  .left-arrow {
    left: calc(15vw - 65px);
  }
  
  .right-arrow {
    right: calc(15vw - 65px);
  }